[Desktop Entry]
Type=Action
ToolbarLabel[en_US]=Convert Doc(s) to PDF
ToolbarLabel[en]=Convert Doc(s) to PDF
ToolbarLabel[C]=Convert Doc(s) to PDF
Name[en_US]=Convert Doc(s) to PDF
Name[en]=Convert Doc(s) to PDF
Name[C]=Convert Doc(s) to PDF
Profiles=profile-zero;

TargetLocation=false

TargetContext=true

[X-Action-Profile profile-zero]
ExecutionMode=Terminal
Exec=bash /home/username/.easy-actions/scripts/PDF/Convert_To_PDF
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
MimeTypes=text/*;application/*;!application/pdf;!image/*
