[Desktop Entry]
Type=Action
ToolbarLabel[en_US]=Scan to this Folder
ToolbarLabel[en]=Scan to this Folder
ToolbarLabel[C]=Scan to this Folder
Name[en_US]=Scan to this Folder
Name[en]=Scan to this Folder
Name[C]=Scan to this Folder
Profiles=profile-zero;

TargetLocation=true

TargetContext=false

[X-Action-Profile profile-zero]
ExecutionMode=Terminal
Exec=bash /home/username/.easy-actions/scripts/Scanning/Scan_Here %F
Name[en_US]=Default profile
Name[en]=Default profile
Name[C]=Default profile
